@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@plugin "tailwind-scrollbar" {
  nocompatible: true;
}

@theme {
  --font-playfair-display: "Playfair Display", serif;
  --font-lato: "Lato", sans-serif;

  --color-primary-light: #E58E76;
  --color-primary-main: #E07A5F;
  --color-primary-dark: #D85531;
  --color-primary-contrastText: #1B1B1B;

  --color-secondary-light: #52567A;
  --color-secondary-main: #3D405B;
  --color-secondary-dark: #313349;
  --color-secondary-contrastText: #F4F1DE;

  --color-plain-main: #F4F1DE;
  --color-plain-dark: #EBE5C2;
  --color-plain-contrastText: #1B1B1B;
  --color-plain-light: #FFFFFF;

  --color-error-main: #780000;
  --color-error-dark: #520000;
  --color-error-contrastText: #FAF9F0;
  --color-error-light: #A30000;

  --color-success-main: #4C8844;
  --color-success-dark: #264422;
  --color-success-contrastText: #FAF9F0;
  --color-success-light: #4C8844;

  --color-warning-main: #A15017;
  --color-warning-dark: #7D3E12;
  --color-warning-contrastText: #FAF9F0;
  --color-warning-light: #C4621C;

  --color-info-main: #0077B6;
  --color-info-dark: #005D8F;
  --color-info-contrastText: #FAF9F0;
  --color-info-light: #0092E0;
}

body {
  margin: 0;
  font-family: "lato", sans-serif;
  background-color: #FAF9F0;
}